
azeret mono uniquifier{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*header styles*/
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.btn-resume{
    padding: 10px 10px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #FFFFFF;
    
}
.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
.sub-title{
    color: #0D1321;
    font-size:40px;
    font-weight:bolder;
    font-family: "Azeret mono";
    text-align: center;
}
.descr{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Azeret mono";
    margin: 50px 50px;
}
.btn{
    background-color: #0D1321;
    position: relative;
    top: 50%;
    left: 45%;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    color:  #FFFFFF;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
}
.sub-heading{
    display: flex;
    text-align: center;
    color: #0D1321;
    font-family: "Azeret mono";
    justify-content: center;
    padding-top: 60px;
    font-weight: bolder;
    font-size: larger;
}
.development-descr{
    text-align: center;
    margin: 20px 40px;
    font-family: "azeret mono";
}
.sec1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 40px;
    font-family: "azeret mono";
}
h1{
    font-weight: 600;
    
}
.sec2{
    display: flex;
    padding: 20px ;
    margin: 20px 40px;
    font-family: "azeret mono";
}
.sec3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 40px;
    font-family: "azeret mono";
}
.my-inspiration{
    text-align: center;
    font-family: "azeret mono";
}
.video-container{
    position: relative;
    width: 60%;
    max-width: 800px;
    padding-top: 56%;
    margin: 0 auto;
    border-radius: 8px;
}
.video-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
h3{
    text-align: center;
    font-family: "azeret mono";
    font-weight: 700;
    margin-top: 20px;
    padding-top: 50px;
}
.decsr-target,.next-target{
    
    text-align: center;
    font-family: "azeret mono";

}
.my-target{
    display: flex;
    padding-top: 40px;
    font-family: "azeret mono";
    margin: 30px 40px;
    justify-content: space-around;
    column-gap: 40px;
}
.html{
    background-color: #eed9d4 ;
    gap: 20px;
}
.css{
    background-color: hsl(216, 15%, 94%) ;
}
.javascript{
    background-color: #f7f5ed;
}
.react js{
    display: flex;
    
    margin: 20px 40px;
    padding: 10px;
    text-align: center;
}